# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virual Environment
venv/

Testing/
.vscode/
.bak/

.env
.coverage

Test.py
Test2.py
test.csv
